<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'webchat/styles/styles.css' %}" rel="stylesheet" />
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{user.username}} | <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'registration' %}">Sign in</a>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'webchat/js/script.js'%}"></script>
</body>


</html>